<!-- 
    footer
    acerca de nosotros
    trabaja con nosotros
    PQRS
    terminos y condiciones
    copyright
    redes sociales iPref
    cerrar sesion
 -->
    

<footer id="footer">
    <a href="#" class="cerrar" id="ceter" (click)="closeFooter()">X</a>
    <div class="nosotros">
        <a href="#">Acerca de nosotros</a>
       <a href="#">trabaja con nosotros</a>
       <a href="#">PQRS</a>
    </div>

    <div class="terminos">
        <a href="#">Términos y condiciones</a>
       <a href="#">copyright all rights reserved © 2020</a>
       
    </div>
    <a href="#" class="cerrar-sesion" >Cerar Sesión<i class="fas fa-sign-out-alt"></i></a>

    <div class="pronto">
        <span>Pronto <i class="fab fa-google-play"></i></span>  
      <span>Pronto <i class="fab fa-app-store"></i></span>  
    </div>

    <div class="redes d-flex ">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-twitter"></i>
      
    </div>
    <p class="copyright">@2020 ipref</p>
    <p class="copyright">Todos los derechos reservados</p>
    

</footer>