<div class="principal row accordion" id="accordionExample">
  <div class="dadtmp col-3" *ngFor="let prefe of prefer; index as i">
    <div class="circles d-flex flex-column justify-content-center align-items-center" type="button"
      data-toggle="collapse" [attr.data-target]="'#' + prefe._id" aria-expanded="true" [attr.aria-controls]="prefe._id">
      <span class="">{{ prefe.icon }}</span>
      <span class="text-center">{{ prefe.nombre }}</span>
      <div class="">
        <span class=""></span>
      </div>
    </div>

    <div class="collapse sencondCircles" id="{{ prefe._id }}" data-parent="#accordionExample">
      <div class="arrow"></div>
      <div class="d-flex row testA">
        <div class="d-flex col-4 justify-content-center" *ngFor="let subprefr of prefe.subpref">
          <div class="circles2 imgcheck d-flex justify-content-center align-items-center">
            
              <input type="radio" id="{{prefe._id}}" name="{{subprefr._id}}" value="getValueForSubPrefId(subpref._id)"
                (click)="savePref($event,  prefe._id, subprefr._id, subprefr.except)" />

            <label class="d-flex flex-column justify-content-center align-items-center" for="{{prefe._id}}">
              <div class="shadow"></div>
              <span class="text-center">{{ subprefr.nombre }}</span>
              <span>🥩</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container"><button type="button" class="btn btn-primary btn-lg btn-block" (click)="savePreferences()">Continuar</button></div>