.principal{
    padding: 25px 175px;
    width: auto;
    justify-content: center;
}

.circles{
    width: 150px;
    height: 150px;
    border: 4px solid rgba(38, 195, 195, 0.849);
    border-radius: 50px;
    cursor: pointer;
    border-radius: 100%;
    margin: 10px 5px;
    box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.75);
    background: rgba(0, 0, 0, 0.014);
    /* transition: transform .2s; */
}
.circles2{
    animation:  jello-horizontal 1.5s both;
    
}
.circles{
    animation:  jello-horizontal 1.5s both;
    
}

  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

.circles2{
    width: 130px;
    height: 130px;
    border: 4px solid rgba(38, 195, 195, 0.849);
    border-radius: 50px;
    /* cursor: pointer; */
    border-radius: 100%;
    margin: 10px 5px;
    box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.75);
    background: rgba(0, 0, 0, 0.014);
    transition: transform .2s;
}
.circles2:hover{
    transform: scale(0.9);
}
.sencondCircles{
  width: 500px;
  margin-right: 300px;
  justify-content: center;
}
.testA{
  padding-right: 0px;
}
.arrow{
    margin-left: 50px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(233, 231, 231, 0.52);
}




.imgcheck{
    position:relative;
    display: inline-block;
}
.imgcheck input[type="radio"]{
    display:block;
    opacity:1;
    cursor:pointer;
    
}
.imgcheck input[type="radio"] + label{
    background-color: rgba(0, 0, 0, 0);
    
}


.circles2 input[type="radio"]:checked + label>.shadow{
  position: absolute;
  
  bottom: -2px;
  right: -2px;
  background: rgba(0, 247, 255, 0.212);
  width: 128px;
  height: 128px;
  border-radius: 100%;
  
    
}
.imgcheck input[type="radio"]:checked + label:before{
    position:absolute;
    content:'';
    
    top:25%;
    left:25%;
    width:50%;
    height:50%;
    background:url(../../../assets/img/heart.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    opacity:0.8;
    
    
}
