<section class="formularioMenu container ">
    <div class="Titulo d-flex justify-content-center">

        <p>Agregar o editar producto</p>

    </div><br>


    <div class="row">
        <div class="col-7 plato ">
            <div class="row d-flex align-items-end">
                <h5>nombre del plato</h5>
                <input type="text">
            </div>
            <div class="inputMenu row d-flex align-items-end">
                <div class="col-7 ingrediente ">
                    <input type="text" placeholder="ingrediente">
                </div>
                <div class=" col-5 d-flex align-items-end">
                <input class="gramos" type="number" min="1" max="999" placeholder="gramaje"><small >g</small>    
                <div class="circles d-flex flex-column justify-content-center align-items-center">
                    <span><i class="">+</i></span>
                </div>
            </div>
        </div>
        <button type="button" class="salvar btn btn-primary">Primary</button>
    </div>

    <div class="col-5 ">
        <div class="form-group img-info-perfil">
            <div class="editprofile">
                <img id="blah" src="../../../assets/img/Recurso 11.png">
                <div class="overlay">
                    <input id="imgInp" type="file">
                    <p class="fas fa-upload fa-3x"></p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-end justify-content-between">
        
            <span>tiempo de preparación:</span>
            <input class="gramos" type="number" min="1" max="9999" placeholder="minutos">
        </div>
    </div>
    </div>
</section>