<app-header-restaurante></app-header-restaurante> 
<app-tarjeta-perfil-global></app-tarjeta-perfil-global>
<div id="camiCrud"><app-crear-plato></app-crear-plato></div>
<div class="menuPrincipal container">
    <div class="circles d-flex flex-column justify-content-center align-items-center">
        <i class="fas fa-plus"></i>
        <span class="text-center" (click)="showformCrud()">Nuevo</span>
    </div>

    <div class="Titulo container d-flex justify-content-center">
        <p>Pitas</p>
    </div>




    <div class="d-flex justify-content-around" >
        <div class="row">
            <div class="col" *ngFor="let plato of arregloMenu; index as i">
                <div class="menu-card" >
                    <div class="menu-card-image">
                        <img src={{plato.img}}>
                    </div>
                    <div class="food-card-content">
                        <div class="tittle-card">
                            <h3>{{plato.nombre}}</h3>
                        </div>
                        <div class="TiempoPreparacion">
                            <p>Tiempo Preparacion: {{plato.tiempoPreparacion}} minutos</p>
                        </div>
                        <div class="descipcion-card">
                            <p> Descripcion: {{plato.descrip}}</p>
                            
                        </div>
                        <div class="menu-botones d-flex justify-content-center align-items-center">
                            <div>
                                <button class="b-edit" (click)="editarMenu()">Editar</button>
                            </div>
                            <div>
                                <button class="b-elim" (click)="eliminarMenu(plato)">Eliminar</button>
                            </div>
                            <div>
                                <button class="b-dupl" (click)="showformCrud()">Duplicar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>

        
        



    





    




</div>