<select class="buscaSucursal form-control form-control-lg">
    <option>chapinero</option>
    <option>Titan Plaza</option>
  </select>
  <h3>Informacion de cuenta Sucursal</h3>
  <br />
  <div class="row">
    <div class="toggle-container col-6" id="toggle-1">
      <input
        class="inputInfo"
        type="text"
        placeholder="admin@crepesandwaffles.com"
      />
      <small
        id="HelpInline"
        class="text-muted fas fa-pencil-alt"
      ></small
      ><br />
      <p>Correo</p>
    </div>

    <div class="toggle-container col-6" id="toggle-1">
      <input type="password" placeholder="Crear Contraseña" />
      <small id="HelpInline" class="text-muted fas fa-pencil-alt">
      </small
      ><br />
      <p>Contraseña</p>
    </div>
  </div>

  <div class="row">
    <div class="col-6 toggle-container" id="toggle-1">
      <input type="password" placeholder="Representante Legal" />
      <small id="HelpInline" class="text-muted fas fa-pencil-alt">
      </small
      ><br />
      <p>Representante Legal</p>
    </div>

    <div class="col-6 toggle-container">
      <input type="password" placeholder="Direccion comercial" />
      <small id="HelpInline" class="text-muted fas fa-pencil-alt">
      </small
      ><br />
      <p>Direccion comercial</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 toggle-container">
      <input type="password" placeholder="telefono" />
      <small id="HelpInline" class="text-muted fas fa-pencil-alt">
      </small
      ><br />
      <p>telefono</p>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-primary btn-sm">
        Actualizar
      </button>
    </div>
  </div>



  <div class="row">
    <div class="dadtmp col-4">
      <div
        class="circles d-flex flex-column justify-content-center align-items-center"
        type="button"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <span class="fas fa-seedling fa-2x"></span>
        <span class="text-center">Tipos de restaurante</span>
        <div class="">
          <span class=""></span>
          <span class="fas fa-trash-alt"></span>
        </div>
      </div>

      <div class="collapse" id="collapseOne">
        <div class="arrow"></div>
        <div
          class="circles d-flex flex-column justify-content-center align-items-center"
        >
          <span class="fas fa-seedling fa-2x"></span>
          <span class="text-center">Gourmet</span>
          <div class="">
            <span class=""></span>
            <span class="fas fa-trash-alt"></span>
          </div>
        </div>
      </div>
    </div>
    </div>