<app-header1></app-header1> 
<main id="main" class="w-100">

 <app-tarjeta-perfil-global></app-tarjeta-perfil-global> 
 

<div class="flex">
    <div class="relativa">
        <span class="absoluta">
            <i class="fas fa-times-circle"></i>
        </span>
        <h4 class="tituloCupon">Agregar cupón</h4>
        <label for="cupon">Código del cupón</label>
        <input type="text" placeholder="Ingresar cupón" />
        <button type="button" class="botonCupon">Redimir</button>
    </div>
    <div>
        <div class="cupones">
            <h4>Cupones activos</h4>
            <table class="cuponesTabla">
                <tr>
                    <th>Restaurante</th>
                    <th>Código</th>
                    <th>Fecha</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
        <div class="cupones">
            <h4>Cupones caducados</h4>
            <table class="cuponesTabla">
                <tr>
                    <th>Restaurante</th>
                    <th>Código</th>
                    <th>Fecha</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</main> 
