<section class="AcocountSettings">
    <h3>Informacion de cuenta</h3>
    <div class="AccounsInputs d-flex justify-content-around">
    <div class="toggle-container" id="toggle-1">
      <input type="text" placeholder="correoAndres@mail.com" />
      <small id="HelpInline" class="text-muted fas fa-pencil-alt">
         
      </small><br/>
      <p>Correo</p>
    </div>
    <div class="toggle-container" id="toggle-1">
      <input type="password" placeholder="Crear Contraseña" />
      <small id="HelpInline" class="text-muted fas fa-pencil-alt">
        
      </small><br/>
      <p>Contraseña</p>
    </div>
  </div>
  </section>
