<form class="form-registro" id="formulario">
    <div class="texto-registrar">
        <p class="mb-4">Regístrate</p><span>x</span>
    </div>
   
    <div class="form-group">
        <input required type="text" id="inombre">
        <label id="nombre">Nombre</label>
        <i class="fas fa-user" id="iconombre"></i>
    </div>
  
    <div class="form-group">
       <input required type="text" id="iapellido">
        <label id="apellido">Razón social</label>
        <i class="fas fa-user" id="icoapellido"></i>
    </div>
  
    <div class="form-group">
        <input required type="text" id="idireccion">
        <label id="direccion">Dirección</label>
        <i class="fas fa-map-signs" id="icodireccion"></i>
    </div>
  
    <div class="form-group">
        <input required type="text" id="iemail">
        <label id="email">Email</label>
        <i class="fas fa-envelope" id="icoemail"></i>
        
        
    </div>
  
    <div class="form-group">
        <input required type="password"  >
        <label id="contraseña">Contraseña</label>
        <i class="fas fa-key" id="iconocontraseña"></i>
    </div>
  
    <div class="form-group">
        <input required type="password" >
        <label id="contraseña2">Repetir contraseña</label>
        <i class="fas fa-unlock" id="iconosubir"></i>
    </div>
  
    <div class="form-group">
      <input required type="password">
      <label id="contraseña2">Teléfono</label>
      <i class="fas fa-phone-square-alt"></i>
  </div>
  
  
    <button>Registrar</button>
  
    <div class="sk-chase" id="spinner">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
  
  
    <div class="opciones-alternas">
        <small>También registrate por:</small>
        <i class="fab fa-facebook-f"></i>
        <i class="fas fa-envelope correoa"></i>
    </div>
  
  </form>
