
<div class="dadtmp" id="accordionExample">
    <div class="PrincipalCircle d-flex">
    <div
    id="headingOne"
      class="circles collapsed d-flex flex-column justify-content-center align-items-center"
      type="button"
      data-toggle="collapse"
      data-target="#collapseOne"
      aria-expanded="true"
      aria-controls="collapseOne"
    >
      <span class="fas fa-plus fa-2x"></span>
      <span class="text-center">GENERO</span>

    </div>
    
    <div
    id="headingTwo"
      class="circles collapsed d-flex flex-column justify-content-center align-items-center"
      type="button"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <span class="fas fa-plus fa-2x"></span>
      <span class="text-center">PREFERENCIAS</span>

    </div>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
      <div class="arrow"></div>
      <div class="d-flex justify-content-between sectionGender">
      <div
        class="circles d-flex flex-column justify-content-center align-items-center" *ngFor="let gender of genero; index as i">
        <span class="{{gender.icon}} fa-2x"></span>
        <span class="text-center">{{gender.nombre}}</span>
      </div>

    </div>
    </div>


    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#headingTwo">
        <div class="arrow2"></div>
        
        <div class="sectionPrefer" >
        <div
          class="circles d-flex flex-column justify-content-center align-items-center" *ngFor="let pref of prefer; index as i">
          <span class="">{{pref.icon}}</span>
          <span class="text-center">{{pref.nombre}}</span>
        </div>
        <div
          class="circles d-flex flex-column justify-content-center align-items-center" >
          <span class="fa fa-plus"></span>
          <span class="text-center">nuevo</span>
        </div>
      </div>
    
      </div>
  </div>
