.tarjeta-ultimas>img{
    width: 65px;
    height: 65px;
    margin-right: 10px;
    
  }
  .tarjeta-ultimas{
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    width: 95%;
    background: #fff;
    margin-bottom: 15px;
    border: 1px solid rgb(235, 235, 235);
  }

.tarjeta-ultimas>.precio-orden-tarjeta{
  
  position: relative;
  top: 9px;
  font-size: 20px;
  color: #76bd1d;
  font-weight: bold;
}