<main id="main" class="w-100">

 
    <app-tarjeta-perfil-global></app-tarjeta-perfil-global>


   <br>
       <section class="container mpmisMetodosP d-flex flex-column d-lg-flex flex-lg-row">
         <!-- -----------------MIS METODOS DE PAGO -------------------------->
         <div class="col-sm-12 col-lg-8 ">
           <h3 class=" mb-4">Mis Metodos de Pago</h3>

                <div class="mpTarjetaCred d-flex ">
                     <img src="../../assets/img/home/amexpng.png" alt="imagen-orden">
                     <div class="container d-flex justify-content-between" > 
                       <p>Tarjeta No. xxx-xxxx-xx-x</p> <i class="fas fa-chevron-right"></i>
                     </div>
                 </div>

                 <div class="mpTarjetaCred d-flex ">
                   <img src="../../assets/img/home/Mastercard_logo.jpg" alt="imagen-orden">
                   <div class="container d-flex justify-content-between" > 
                     <p>Tarjeta No. xxx-xxxx-xx-x</p> <i class="fas fa-chevron-right"></i>
                   </div>
               </div>

               <div class="mpTarjetaCred d-flex ">
                 <img src="../../assets/img/home/Visa-png.png" alt="imagen-orden">
                 <div class="container d-flex justify-content-between" > 
                   <p>Tarjeta No. xxx-xxxx-xx-x</p> <i class="fas fa-chevron-right"></i>
                 </div>
             </div>

             <div class="mpTarjetaCred d-flex ">
               <img src="../../assets/img/home/Diners.png" alt="imagen-orden">
               <div class="container d-flex justify-content-between" > 
                 <p>Tarjeta No. xxx-xxxx-xx-x</p> <i class="fas fa-chevron-right"></i>
               </div>
           </div>


         </div>
         <!-- ------------------AÑADIR METODOS DE PAGO -------------------------->
         <div class="tabla-ultimas-ordenes cont-tabla-derecha  m-0 p-0 align-items-center col-sm-12 col-lg-4">
           <h3 class="mb-4">Añadir Metodos de pago</h3>
           <div class="mpTarjetaCred d-flex ">
             <img src="../../assets/img/home/Visa-png.png" alt="imagen-orden">
             <div class="container d-flex justify-content-between" > 
               <p>Visa</p> <i class="fas fa-chevron-right"></i>
             </div>
           </div>

           <div class="mpTarjetaCred d-flex ">
             <img src="../../assets/img/home/amexpng.png" alt="imagen-orden">
             <div class="container d-flex justify-content-between" > 
               <p>Amex</p> <i class="fas fa-chevron-right"></i>
             </div>
           </div>

           <div class="mpTarjetaCred d-flex ">
             <img src="../../assets/img/home/Mastercard_logo.jpg" alt="imagen-orden">
             <div class="container d-flex justify-content-between" > 
               <p>Master Card</p> <i class="fas fa-chevron-right"></i>
             </div>
           </div>


         </div>
       </section>

   </main>

