<main id="main" class="w-100">

    <section class="container col-12">
        <div class=" shop-b d-flex justify-content-end">
            <img src="../../../assets/img/home/shopping-bags.png" alt="compras">
            <h6 class="qauntityShop">5</h6>
        </div>
        <div class="procesoComp d-flex justify-content-end">
            <h6 class="border">Procesar compra</h6> 
        </div>
    </section>

    <section class="container welcome col-12" *ngFor="let infor of info">
        <h3>Hola {{infor.name}} {{infor.lastN}}</h3>
        <h6>Bienvenido a Crepes & waffles</h6>
    </section>


    <section class="d-flex justify-content-end">
        <div class="todoMenu  text-center">
            <h6>Todo <br>el Menu</h6>
        </div>
    </section>

    <section class="sugUsuario">
        <div class="d-flex justify-content-center">
            <h3>Sugerencias según tus preferencias</h3>
        </div>
    </section>
</main>
