<!-- <div class="cont-imagen">
  <img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt="foto-perfil" id="imgp">
  <input type="file" id="input-foto" onChange="mostrarImagen(this)">
</div> -->

<div class="crud-ingredientes">
  <div class="cont-imagen">
    <img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt="foto-perfil" id="imgp">
        
    <input type="file" id="input-foto" onChange="mostrarImagen(this)">
  </div>
  <div class="form-grupo">
    <label >Nombre plato</label>
    <input [(ngModel)]="crearPlato.nombre" name="nombre" type="text">
  </div>
  
  <div class="form-grupo">
    <label >Categoria</label>
    <input [(ngModel)]="crearPlato.categoria" name="Categoria" type="text">
    
  </div>

  <div class="form-grupo">
    <label>Descripcion</label>
    <textarea [(ngModel)]="crearPlato.descrip" name="Descripcion"></textarea>
  </div>

  <div class="tiempoyprecio container d-flex justify-content-between" >
    <div class="grupo-tiempo">
      <label>Tiempo de preparacion</label>
      <input [(ngModel)]="crearPlato.tiempoPreparacion" name="Tiempo de preparacion" type="text">
    </div>
    <div class="grupo-precio">
      <label>Precio</label>
      <input [(ngModel)]="crearPlato.precio" name="Precio" type="text">
    </div>
  </div>
  

  <div class="grupo-ingresar-ingrediente">
    <input type="text" placeholder="Ingrediente" id="ingrediente">
    <input type="number" placeholder="Gramaje" id="gramaje">
    <i class="fas fa-plus" id="agregar" ></i>
  </div>

  <table class="tabla-listado mt-5">

    <thead>
      <tr>
        <th>Nombre</th>
        <th>Peso (Oz)</th>
        <th>Eliminar</th>
      </tr>
    </thead>

      <tbody id="tabla">
      

      </tbody>
     
      
   
  </table>

  <div class="botones-ingredientes">
    <button class="btn-edi">Limpiar</button>
    <button class="btn-eli" (click)="hideformCrud()">Cancelar</button>
    <button class="btn-cre" (click)="crear()">Crear</button>
  </div>
</div>
