<!-- <div class="cont-imagen">
  <img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt="foto-perfil" id="imgp">
  <input type="file" id="input-foto" onChange="mostrarImagen(this)">
</div> -->

<div class="crud-ingredientes">
  <div class="cont-imagen">
    <img src="https://images.pexels.com/photos/1640772/pexels-photo-1640772.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt="foto-perfil" id="imgp">
    <input type="file" id="input-foto" onChange="mostrarImagen(this)">
  </div>
  <div class="form-grupo">
    <input type="text" placeholder="Nombre del plato">
    <label>Titulo</label>
  </div>
  <div class="form-grupo">
    <textarea></textarea>
    <label >Descripción</label>
  </div>
  <div class=" grupo-tiempo">
     <input type="text">
    <label>Tiempo de preparación</label>
  </div>
  

  <div class="grupo-ingresar-ingrediente">
    <input type="text" placeholder="Ingrediente" id="ingrediente">
    <input type="number" placeholder="Gramaje" id="gramaje">
    <i class="fas fa-plus" id="agregar" ></i>
  </div>

  <table class="tabla-listado mt-5">

    <thead>
      <tr>
        <th>Nombre</th>
        <th>Peso (Oz)</th>
        <th>Eliminar</th>
      </tr>
    </thead>

      <tbody id="tabla">
      

      </tbody>
     
      
   
  </table>

  <div class="botones-ingredientes">
    <button class="btn-edi">Limpiar</button>
    <button class="btn-eli" (click)="hideformCrud()">Cancelar</button>
    <button class="btn-cre">Crear</button>
  </div>
</div>
