<main id="main" class="w-100">
    <h3 class="titulo-overview">Overview</h3>

      <section class="overview-dashboard d-flex justify-content-around">
          <div class="3th-chart"><iframe src="https://datastudio.google.com/embed/reporting/36c9a346-a025-4bf7-910a-37d3438e0f84/page/nXDGB" frameborder="0" style="border:0" allowfullscreen></iframe></div>
      </section>

      <section class="treddingOrders-dashboard d-flex justify-content-between">
        <h3 class="titulo-tendencias">Tendencias</h3>

        <app-card-tendencia></app-card-tendencia>
        <app-card-tendencia></app-card-tendencia>
        <app-card-tendencia></app-card-tendencia>
        <app-card-tendencia></app-card-tendencia>

      </section>

      <section class="general-ultimas-ordenes d-flex">

        <div class="ultimas-ordenes  m-0 ">
          <h3 class="text-center mb-4">Ultimas ordenes</h3>

            <app-card-ultimas-ordenes></app-card-ultimas-ordenes>
            <app-card-ultimas-ordenes></app-card-ultimas-ordenes>
            <app-card-ultimas-ordenes></app-card-ultimas-ordenes>

        </div>

        <div class="tabla-ultimas-ordenes cont-tabla-derecha  m-0 p-0 align-items-center">
          <h3 class="mb-4 text-center">Estado de orden</h3>
          <div class="cont-tabla ">
              <div class="tabla-head d-flex align-items-center">
                <h5>Cliente</h5>
                <h5>Producto</h5>
                <h5>Estado</h5>
                <h5>Tiempo</h5>
                <h5>Total</h5>
              </div>
              <div class="tabla-body d-flex">
                <p>Andrés</p>
                <p>Hamburguesa</p>
                <p>Cancelado</p>
                <p>10:30 a.m</p>
                <p>$ 30.000</p>
              </div>
            
          </div>
       

        </div>

      </section>


      

  </main>
