<app-header1></app-header1> 
<app-header-sugerencia-pref-u></app-header-sugerencia-pref-u>

<div class="d-flex justify-content-around">
<br>
<div class="container"><button type="button" class="btn btn-primary btn-lg btn-block" (click)="EnviarOrden()" >Ordenar</button></div>
<div class="d-flex justify-content-center">

    <div class="row " *ngFor="let plato of menu; index as i">
        <div class="col ">
            <div class="menu-card">
                <div class="menu-card-image">
                    <img src="{{plato.img}}">
                </div>

                <div class="food-card-content">
                    <div class="starRating text-center">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>

                    <div class="tittle-card">
                        <h5>{{plato.nombre}}</h5>
                    </div>

                    <div class="descipcion-card text-center">
                        <p> {{plato.descrip}}</p>
                    </div>

                    <div class="precio text-center">
                        <input class="totalFood" id="price{{plato._id}}" value="{{plato.precio * plato.unidad}}" disabled>$ 
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="row justify-content-center">
                                <div class="col-3 border border-secondary  d-flex align-items-center justify-content-center"
                                    (click)="(plato.unidad = plato.unidad + 1)">
                                    <i class="alignAddSub fa fa-plus "></i>
                                </div>
                                <div
                                    class="col-3 border border-secondary  d-flex align-items-center justify-content-center">

                                    <input id="{{plato._id}}" class="quantPrefs" type="number" value="{{plato.unidad}}" disabled>
                                </div>
                                <div class="col-3 border border-secondary d-flex align-items-center justify-content-center"
                                    (click)="(plato.unidad = plato.unidad - 1)">
                                    <i class="alignAddSub fa fa-minus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="mas-info text-right pt-3">
                                <h6 class="" data-toggle="collapse" [attr.href]="'#collapse' + plato._id" aria-expanded="false"
                                    aria-controls="{{plato._id}}">+ informacion</h6>
                                <!-- <a class="btn btn-primary" data-toggle="collapse" [attr.href]="'#collapse' + plato._id"
                                    role="button" aria-expanded="false" aria-controls="{{plato._id}}">+ informacion</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="collapse multi-collapse" [attr.id]="'collapse' + plato._id ">
                            <div class="container">
                            <div class="row">
                                <div class="col p-6">
                                    <tbody id="tabla" *ngFor="let ingre of plato.ingredientesName">
                                        <td>{{ingre}}</td>
                                    </tbody>
                                </div>
                                <div class="col d-flex align-items-center">
                                    
                                    <p>Tiempo estimado {{plato.tiempoPreparacion}} minutos</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="menu-botones d-flex justify-content-center align-items-center">
                            <div>
                                <button class="botonNota">Nota</button>
                            </div>
                            <div>
                                <button class="botonAgregar"(click)="crearOrden($event, plato.rest_id, plato.nombre, plato.descrip, plato._id)">Agregar</button>
                            </div>
                            <div>
                                <button class="botonCancelar" (click)="cancelar()">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> 

            </div>

    