
                <div class="mrTabla-row d-flex" *ngFor='let orden of arreglo'>
                    <p>{{orden.noMesa}}</p>
                    <p>{{orden.estado}}</p>
                    <p>{{orden.tiempo}}</p>
                  <div class="ml-2 mrbotones-tabla">
                    <button class="mrAzul-boton"(click)= "mostrarFormulario()">Ver</button>
                    <button class="mrVerde-boton">Agregar</button>
                    <button class="mrRojo-boton">Borrar</button>
                  </div>
                </div>
