
/* ------------------------------------------------MAIN---------------------------------------- */
main{
    height: 740px;
   overflow-y: scroll; 
}
main::-webkit-scrollbar {
   display: none;
}
main>.cont-navbar{
   align-items: center;
   height: 170px;
   overflow: hidden;
}
main>.cont-navbar>img{
  width: 220px;
  height: 220px;
  position: relative;
}
main>.cont-navbar>img.tomates{
   right: 70px;
   bottom: 50px;
}
main>.cont-navbar>img.plato{
   left: 70px;
   bottom: 50px;
}
main>.cont-navbar>.navbar>input{
   height: 55px;
   width: 660px;
   padding: 6px 48px;
   border-radius: 30px;
   border: 1px solid rgb(161, 160, 160);
   font-size: 25px;
   color: rgb(153, 153, 153);
   font-weight: 300;
}
main>.cont-navbar>.navbar>.fa-search{
   font-size: 26px;
   position: absolute;
   left: 34px;
   top: 24px;
   color: rgb(161, 161, 161);
   cursor: pointer;
}

main>.cont-navbar>.navbar>input:focus{
   outline: none;
}







   /* ------------------------------------------------CARROUSEL-------------- */


   @media (min-width: 768px) and (max-width: 991px) {
       .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
           position: absolute;
           top: 0;
           right: -33.3333%;  
           z-index: -1;
           display: block;
           visibility: visible;}
   }
   @media (min-width: 576px) and (max-width: 768px) {
       .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
           position: absolute;
           top: 0;
           right: -50%; 
           z-index: -1;
           display: block;
           visibility: visible;}
   }
   @media (min-width: 576px) {
       .carousel-item { margin-right: 0;}
       .carousel-inner .active + .carousel-item { display: block; }
       .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
       .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {transition: none;}
       .carousel-inner .carousel-item-next {position: relative; transform: translate3d(0, 0, 0);}
       .active.carousel-item-left + .carousel-item-next.carousel-item-left,
       .carousel-item-next.carousel-item-left + .carousel-item,
       .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {position: relative;transform: translate3d(-100%, 0, 0);visibility: visible;}
       .carousel-inner .carousel-item-prev.carousel-item-right {
           position: absolute;
           top: 0;
           left: 0;
           z-index: -1;
           display: block;
           visibility: visible;}
       .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
       .carousel-item-prev.carousel-item-right + .carousel-item,
       .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
           position: relative;
           transform: translate3d(100%, 0, 0);
           visibility: visible;
           display: block;
           visibility: visible;}}
   
   @media (min-width: 768px) {
       .carousel-inner .active + .carousel-item + .carousel-item {display: block;}
       .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {transition: none;}
       .carousel-inner .carousel-item-next {position: relative;transform: translate3d(0, 0, 0);}
       .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
           position: relative;
           transform: translate3d(-100%, 0, 0);
           visibility: visible;}
       .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
           position: relative;
           transform: translate3d(100%, 0, 0);
           visibility: visible;
           display: block;
           visibility: visible;}}
   
   @media (min-width: 991px) {
       .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {display: block;}
       .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {transition: none;}
       .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
           position: absolute;
           top: 0;
           right: -25%;  
           z-index: -1;
           display: block;
           visibility: visible;}
       .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
           position: relative;
           transform: translate3d(-100%, 0, 0);
           visibility: visible;}
       .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
           position: relative;
           transform: translate3d(100%, 0, 0);
           visibility: visible;
           display: block;
           visibility: visible;}
   }
   .tmp{
       width: 70%;
       margin: auto;
    
   }