
/* ------------------------------------------------MAIN---------------------------------------- */
main{
    height: 740px;
   overflow-y: scroll; 
}
main::-webkit-scrollbar {
   display: none;
}
main>.cont-navbar{
   align-items: center;
   height: 170px;
   overflow: hidden;
}
main>.cont-navbar>img{
  width: 220px;
  height: 220px;
  position: relative;
}
main>.cont-navbar>img.tomates{
   right: 70px;
   bottom: 50px;
}
main>.cont-navbar>img.plato{
   left: 70px;
   bottom: 50px;
}
main>.cont-navbar>.navbar>input{
   height: 55px;
   width: 660px;
   padding: 6px 48px;
   border-radius: 30px;
   border: 1px solid rgb(161, 160, 160);
   font-size: 25px;
   color: rgb(153, 153, 153);
   font-weight: 300;
}
main>.cont-navbar>.navbar>.fa-search{
   font-size: 26px;
   position: absolute;
   left: 34px;
   top: 24px;
   color: rgb(161, 161, 161);
   cursor: pointer;
}

main>.cont-navbar>.navbar>input:focus{
   outline: none;
}




/* ------------------------------------CARTAS NUEVAS------------------------- */
.cont-cartas-general{
 width: 80%;
 margin: 60px auto;
 flex-wrap: wrap;
 text-align: center;
}
.carta-home{
   width: 220px;
   margin:10px auto;
}
.carta-home>.carta-head-home{
   width: 100%;
   height: 250px;
   background: url(https://images.alphacoders.com/889/889273.jpg); 
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 4px;
   position: relative;
   overflow: hidden;
   cursor: pointer;
}
.carta-head-home:hover>.sombra-body{
   bottom: 0;
}
.sombra-body{
   background: linear-gradient(transparent,rgba(0,0,0,.1),rgba(0,0,0,.3),rgba(0,0,0,.8));
   position: absolute;
   width: 100%;
   height: 80%;
   bottom: -80%;
   display: flex;
   align-items: flex-end;
   transition: 1s all;
   border: transparent;
}
.carta-head-home>span{
   background: #fff;
   font-size: 11px;
   font-weight: 600;
   position: absolute;
   padding: 3px 17px;
   border-radius: 10px;
   top: 15px;
   left: 15px;
}
.sombra-body small{
   margin: 0;
   padding: 10px;
   font-size: 12px;
   color: #fff;
   text-align: start;
}
.carta-body-home>.nombre-cart-body{
   width: 70%;
   padding: 10px 5px;
   text-align: start;
}
.carta-body-home>.nombre-cart-body>p{
   margin: 0;
   cursor: pointer;
   transition: .4s all;
}
.carta-body-home>.nombre-cart-body>p:hover{
   color: #3a9691;
}

.carta-body-home>.nombre-cart-body>span>i{
   font-size: 13px;
   margin: 0 1px;
   cursor: pointer;
   color: #3a9691;
   transition: .4s all;
}

.carta-body-home>.nombre-establecimiento{
   width: 30%;

   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.carta-body-home>.nombre-establecimiento>img{
     width: 40px;
}
.tm{
   width: 100%;
   text-align: start;
   font-size: 26px;
   font-weight: 700;
   margin-bottom: 15px;
   padding-left: 22px;
}


   /* ------------------------------------------------CARROUSEL-------------- */


   @media (min-width: 768px) and (max-width: 991px) {
       .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
           position: absolute;
           top: 0;
           right: -33.3333%;  
           z-index: -1;
           display: block;
           visibility: visible;}
   }
   @media (min-width: 576px) and (max-width: 768px) {
       .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
           position: absolute;
           top: 0;
           right: -50%; 
           z-index: -1;
           display: block;
           visibility: visible;}
   }
   @media (min-width: 576px) {
       .carousel-item { margin-right: 0;}
       .carousel-inner .active + .carousel-item { display: block; }
       .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
       .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {transition: none;}
       .carousel-inner .carousel-item-next {position: relative; transform: translate3d(0, 0, 0);}
       .active.carousel-item-left + .carousel-item-next.carousel-item-left,
       .carousel-item-next.carousel-item-left + .carousel-item,
       .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {position: relative;transform: translate3d(-100%, 0, 0);visibility: visible;}
       .carousel-inner .carousel-item-prev.carousel-item-right {
           position: absolute;
           top: 0;
           left: 0;
           z-index: -1;
           display: block;
           visibility: visible;}
       .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
       .carousel-item-prev.carousel-item-right + .carousel-item,
       .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
           position: relative;
           transform: translate3d(100%, 0, 0);
           visibility: visible;
           display: block;
           visibility: visible;}}
   
   @media (min-width: 768px) {
       .carousel-inner .active + .carousel-item + .carousel-item {display: block;}
       .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {transition: none;}
       .carousel-inner .carousel-item-next {position: relative;transform: translate3d(0, 0, 0);}
       .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
           position: relative;
           transform: translate3d(-100%, 0, 0);
           visibility: visible;}
       .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
           position: relative;
           transform: translate3d(100%, 0, 0);
           visibility: visible;
           display: block;
           visibility: visible;}}
   
   @media (min-width: 991px) {
       .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {display: block;}
       .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {transition: none;}
       .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
           position: absolute;
           top: 0;
           right: -25%;  
           z-index: -1;
           display: block;
           visibility: visible;}
       .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
           position: relative;
           transform: translate3d(-100%, 0, 0);
           visibility: visible;}
       .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
           position: relative;
           transform: translate3d(100%, 0, 0);
           visibility: visible;
           display: block;
           visibility: visible;}
   }
   .tmp{
       width: 70%;
       margin: auto;
    
   }