<section class="infoUser d-flex">
    <div class="form-group img-info-perfil">
        <div class="editprofile">
            <img id="blah" src="../../assets/img/home/perfil.png">
            <div class="overlay">
                <input id="imgInp" type="file">
                <p class="fas fa-camera fa-3x"></p>
            </div>
        </div>
    </div>
    <div class="info-perfil">
        <h2 class="nombreUser" id="nombreUser">Hola Andres Aperllido Apellido</h2>
        <p class="js-toggle" data-container="toggle-1">Cuentanos acerca de ti <i class="hide fas fa-pencil-alt"></i></p>
        <div class="toggle-container" id="toggle-1">
            <input type="text" maxlength="4"><small id="HelpInline" class="text-muted">
                120 caracteres.
            </small><br>
        </div>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-pinterest-p"></a>
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fas fa-globe-europe"></a>
        <i>Ciudad</i>, <i>Departamento</i>, <i>País</i>
    </div>
  </section>
